.todo-item-component {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  border-radius: 100px;
  padding: 0 20px;
  min-height: 46px;
  .input-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    input {
      width: 100%;
      outline: none;
      border: 0;
      padding: 0;
      font-size: 16px;
      color: #2e2e2e;
      ::placeholder {
        color: #bcbcbc;
      }
    }
  }
  .left-wrapper {
    display: flex;
    align-items: center;
    flex: 1;
    .title-wrapper {
      margin-left: 16px;
      padding: 6px 0;
      .title {
        font-size: 16px;
        color: #2e2e2e;
        word-break: break-word;
        &.checked {
          text-decoration-line: line-through;
          color: #a9a9a9;
        }
      }
    }
  }
  .right-wrapper {
    .save-button {
      button {
        outline: none;
        border: 0;
        background-color: #585292;
        color: #ffffff;
        padding: 10px 17px;
        border-radius: 100px;
        font-size: 14px;
        cursor: pointer;
      }
    }
    .dropdown-items-wrapper {
      .item-wrapper {
        padding: 8px 22px;
        cursor: pointer;
        &:not(:last-child) {
          margin-bottom: 16px;
        }
        .title {
          font-size: 14px;
          color: #2e2e2e;
        }
        &.active {
          background-color: #585292;
          border-radius: 8px;
          .title {
            color: #ffffff;
          }
        }
      }
    }
  }
}
